@catalog-width: 220px;

.catalog {
  display: flex;
  flex: 0 0 @catalog-width;
  flex-direction: column;
  width: @catalog-width;
  height: 100%;
  padding: 12px 0 20px 20px;
  overflow: hidden;
  color: #475266;
  background-color: #fff;
  // transition: width 0.1s;

  &.catalog-collapsed {
    position: absolute;
    z-index: 10;
    width: 127px;
    height: 40px;
    background-color: transparent;

    .catalogContent {
      width: 0;
    }
  }

  &.new-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 14px 0 0 20px;
    box-shadow: 0px 6px 18px 0px rgba(3, 10, 26, 0.12);
    transition: width 0.1s;

    .catalogTitle {
      padding-right: 0;
    }

    .catalogContent {
      width: @catalog-width - 20px;
      transition: width 0.1s;
    }

    &.catalog-collapsed {
      width: 40px;
      box-shadow: none;
      transition: width 0.1s, height 0s 0.1s, background-color 0s 0.1s;

      .catalogContent {
        width: 0;
      }
    }
  }

  .catalogTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
  }

  .catalogContent {
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden auto;
    // transition: width 0.1s;
    scrollbar-color: hsla(240, 7%, 70%, 0.4) transparent;
    scrollbar-width: thin;
  }

  :global {
    .ant-tree-treenode {
      width: 100%;
      color: #475266;
      white-space: nowrap;

      .ant-tree-node-content-wrapper {
        background-color: #fff !important;

        &:hover,
        &.ant-tree-node-selected {
          color: @primary-color;
        }
      }

      .ant-tree-node-content-wrapper {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ant-tree-indent-unit {
        width: 8px;
      }
      .ant-tree-switcher {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;

        .anticon {
          color: @text-gray-color;
          font-size: 16px;
        }
      }
    }
  }
}

:global {
  .mainViewContainer {
    display: flex;

    & > div:not(:first-child) {
      flex: 1 1 auto;
    }
  }
}
